{{>header}}
{{>navbar}}
<section class="container my-4">
    <h3 class="text-center text-primary">Single User</h3>
    <table class="table table-stripped">
        <thead>
            <th>User ID</th>
            <th>ID</th>
            <th>Title</th>
        </thead>
        <tbody>
            <tr>
                <td>{{res2.userId}}</td>
                <td>{{res2.id}}</td>
                <td>{{res2.title}}</td>
            </tr>
        </tbody>
    </table>
</section>
{{>footer}}